.page.body {
  display: flex;
  background-color: #cfd8dc;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* .wrapper {
  background-color: lightgray;
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
} */

.header {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.subheader {
  font-size: 11px;
  font-weight: bold;
  color: white;
}

.cardHeader {
  background-color: #1976d2;
}
